@model TARgv23CarShop.Models.Cars.CarCreateAndUpdateViewModel

@if (Model.CarId.HasValue)
{
    <h1>Car Update</h1>
    ViewData["Title"] = "Car Update";
}
else
{
    <h1>Car Create</h1>
    ViewData["Title"] = "Car Create";
}

<hr/>

<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="CarId" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <div class="field">
            <label>Name</label>
            <input asp-for="CarName" />
        </div>

        <div class="field">
            <label>Price</label>
            <input asp-for="CarPrice" />
        </div>

        <div class="field">
            <label>Year</label>
            <input asp-for="CarYear" />
        </div>

        @if (Model.CarId.HasValue)
        {
            <input asp-action="update" asp-controller="cars" type="submit" class="button primary" value="Update" />
        }
        else
        {
            <input asp-action="create" asp-controller="cars" type="submit" class="button primary" value="Create" />
        }
        <input asp-action="index" asp-controller="cars" type="submit" class="button success" value="Back" />
    </form>
</div>
